services:
  stock-prediction-api:
    build: .
    container_name: kytran_prediction_api
    working_dir: /app
    volumes:
      - ./:/app
      - /tmp:/tmp
      - ~/.config/rclone:/root/.config/rclone
    ports:
      - "8006:8006"
    environment:
      - PYTHONUNBUFFERED=1
      - GOOGLE_API_KEY=${GOOGLE_API_KEY}
      - WANDB_API_KEY=${WANDB_API_KEY}
      - POSTGRES_URL=${POSTGRES_URL}
      - symbols=${symbols}
      - ENABLE_WANDB=${ENABLE_WANDB}
      - CUDA_VISIBLE_DEVICES=0
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              device_ids: ['0']
              capabilities: [gpu]
    restart: unless-stopped
    networks:
      - financi-network

  cloudflared:
    image: cloudflare/cloudflared:latest
    container_name: kytran_prediction-cloudflared
    command: tunnel --no-autoupdate run --token ${API_KEY_CLOUDFLARE}
    restart: unless-stopped
    networks:
      - financi-network

networks:
  financi-network:
    driver: bridge
